</script>

<div id="app-container" ng-controller="ReportController"  style="margin-top: 130px">
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">Cards 4 humanity</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li ng-hide="showOptions">
                    <a target="_blank" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&related=CFH_App&text=Cards%20for%20Humanity%3A%20A%20Game%20for%20Horrible%20People%20Desperately%20Trying%20to%20do%20Good&tw_p=tweetbutton&url=http%3A%2F%2Fcfh.io"><i class="fa fa-twitter fa-2x"></i></a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="tabs">
      <h3 id="finding-players"><i class="fa fa-dashboard"></i> My Dashboard</h3>
      <ul class="nav nav-tabs" id="finding-players">
        <li class="active"><a class="dashboard-nav" href="javascript:void(0)#Game" data-toggle="tab">Game Log</a></li>
        <li><a class="dashboard-nav" href="javascript:void(0)#Leaderboard" data-toggle="tab">Leaderboard</a></li>
        <li><a class="dashboard-nav" href="javascript:void(0)#Donations" data-toggle="tab">Donations</a></li>
      </ul>
      <br>
    </div>
    <div class="tab-content">
      <div class="tab-pane active" id="Game">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Game Winner</th>
              <th>Game ID</th>
              <th>Number of rounds</th>
              <th>Players</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="log in logs">
                <td>{{log.winner}}</td>
                <td>{{log.gameID}}</td>
                 <td>{{log.rounds}}</td>
              <td>
                <ul>
                  <li ng-repeat="player in log.players track by $index">{{player}}</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="Leaderboard">
        <p></p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Player Name</th>
              <th>Number of wins</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="details in boards track by $index">
              <td>{{$index + 1}}</td>
              <td>{{details.name}}</td>
              <td>{{details.gameWins}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="Donations">
            <h3 class="donation-notification" id="finding-players"> Hi {{ test }}, you have ${{ amount }} donations </h3>
      </div>
    </div>
  </div>