<div id="question-container-inner">
  <div class="card longBlack">
    <span id="currentQuestion" ng-bind-html-unsafe="game.curQuestion.text" ng-hide="game.state === 'game ended' || game.state ==='game dissolved' || game.state === 'awaiting players'"></span>

    <div id="notifications" ng-if="game.notification" ng-animate="{enter:'animated fadeInLeft', leave:'animated fadeOut'}">{{game.notification}}</div>

    <div id="startGame" ng-show="game.state === 'awaiting players'">
      <div id="finding-players">Finding Players</div>
      <div id="player-count-container">
        <div id="player-count">{{game.players.length}} / 12 </div>
        <div id="the-word-players"> Players </div>
        <div class="btn-m width-65 center" data-toggle="modal" data-target="#invite-modal" ng-show="game.playerIndex === 0 && isSignedIn">
          <h6>Invite Friends</h6>
        </div>
      </div>
      <div id="loading-container">
        <div id="loading-gif"><img height="65" ng-src="../img/loader.gif"/></div>
      </div>
      <div id="start-game-container" class="center" ng-show="(game.playerIndex === 0)">
        <div class="btn-m width-65 right" ng-click="startGame()">
          <h6>Start Game<br />with {{game.players.length}} players</h6>
        </div>
      </div>
    </div>
    <!-- Game Over Stuff -->
    <div id="game-end-info">
      <div id="people-left-game-top" ng-show="game.state ==='game dissolved' && game.gameWinner === -1">
        <h4 class="finding-players">What the!? The game ended because too many people left!</h4>
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner === game.playerIndex">
        <div class="finding-players">Congratulations! You won the game, {{game.players[game.playerIndex].username | upperFirstLetter}}!</div>We hope you feel special. If you'd like to share that special feeling with the world, consider donating to charity. Or just horde it all for youself.
      </div>
      <div ng-show="game.state === 'game ended' && game.gameWinner !== game.playerIndex">
        <div class="finding-players">Aw, shucks! {{game.players[game.gameWinner].username | upperFirstLetter }} won the game!</div>
        That makes you a loser, unfortunately.
      </div>
    </div>
  </div>

  <div id="modalShow" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #FED136">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" style="color: #000">Hi Player</h3>
        </div>
        <div class="modal-body">
          <div class="text-center padding-10">
            <h4 id="finding-players">What region of the world are you in?</h4>
            <h5 id="finding-players">This will let the app select a card pack you can better relate to.</h5>
          </div>
          <div class="row padding-10">
            <div class="form-group center width-65">
              <select id="region-select" class="form-control" ng-options="region as region.label for region in regions track by region.code" ng-model="selectedRegion"></select>
            </div>
          </div>
        </div>
        <div class="modal-footer center">
          <h6 id="finding-players" style="color: #000">By clicking the start button, you have agreed to begin a game session</h6>
          <button type="button" class="btn btn" ng-click="modalContinue()" style="color: #fff; background: #FED136;">Start</button>
        </div>
      </div>
    </div>
  </div>
</div>