  <div id="main-bod" class="body" ng-controller="IndexController">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Cards 4 humanity</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
                <a href="#page-top"></a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
              <a href="#!/signup">Sign Up</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Landing Start -->
    <div class = centered>
      <div class ="aa">
        <h3 class="text-center white" id="finding-players">Sign in with email:</h3>
          <div class="sign-body">
            <div class="more-sign">
              <div class="text-danger sign-error" ng-show="showError() === 'invalid'">
                <strong>Error!!!</strong> Please check your username or password and try again.
              </div>
              <form class="signup form-horizontal" method="post">
                <div class="control-group">
                  <label for="email" class="control-label"></label>
                  <div class="controls">
                    <input type="text" id="email" name="email" placeholder="Please enter your email" ng-model="email" required novalidate />
                  </div>
                </div>
                <div class="control-group">
                  <label for="password" class="control-label"></label>
                  <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Please Enter password" ng-model="password" required novalidate />
                  </div>
                </div>
                <div class="form-actions top-margin">
                  <input type ="submit" type='submit' ng-click="login()" value = "Sign In">
                </div>
              </form>
            </div>
          </div>

          <h3 class="text-center white" id="finding-players">Or social accounts</h3>
          <div id="login-buttons">
          <div>
            <a class="space" href="#">
              <i class="fa fa-facebook fa-4x"></i>
            </a>
            <a class="space" href="#">
              <i class="fa fa-twitter fa-3x"></i>
            </a>
            <a class="space" href="#">
              <i class="fa fa-github fa-4x"></i>
            </a>  
            <a class="space" href="#">
              <i class="fa fa-google-plus fa-4x"></i>
            </a>  
          </div>
        </div>
      </div>
    </div>